body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #ffffff;
  }
  


.card {
    width: 100%;
    max-width: 800px; 
    margin: 10px auto; 
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title, .card-subtitle {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-subtitle {
    color: #6c757d;
    margin-top: -0.25rem;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .button-primary {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    justify-content: space-between;
  }
  
  .left-icons {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    vertical-align: middle;
  }
  
  .search-bar {
    height: 24px;
  }
  
  .user-icon {
    width: 24px;
    height: 24px;
  }
  
  .small-text {
    margin: 0; /* 余白を削除することで、厳密に中央に配置 */
  }
  
  

  
  .button-fork {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }




  .button-like {
    padding: 10px 20px;
    background-color: rgb(235, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


.small-text {
    font-size: 12px;
  }


  .toggle-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .toggle-button {
    border: none;
    background: #eee;
    color: #777;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .toggle-button i {
    margin-right: 5px;
  }
  
  .toggle-button.active {
    background: #0366d6;
    color: #fff;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  .popup-image {
    width: 80%; 
    height: auto; 
    margin: auto;
  }
  
  .popup-inner {
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  
  .popup-image {
    max-width: 90%;  /* 画像サイズの調整 */
    max-height: 90%; /* 画像サイズの調整 */
  }
  
  h1 {
    font-size: 1.5rem;
    border-bottom: 1px solid #fefefe;
    padding-bottom: .3rem;
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    background-color: #0366d6;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  

  
  .large-textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }



  

  
  .input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-field, .text-area {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  .text-area {
    font-family: monospace;
  }
  
  .text-area-label {
    display: block;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0366d6;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  